<ul id="social">
    {% for social in SOCIAL %}
        {% if 'github' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><img src="{{ social.2 }}" width="40"></a></li>

        {% elif 'instagram' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><img src="{{ social.2 }}" width="40"></a></li>

        {% elif 'slack' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><img src="{{ social.2 }}" width="40"></a></li>

        {% elif 'twitter' in social.1%}
            <li><a href="{{ social.1 }}" alt="{{ social.0 }}"><img src="{{ social.2 }}" width="40"></a></li>

        {% endif %}
    {% endfor %}
</ul>
